<launch>
  <arg name="serial_subscribe_topic_name" default="vrpn_client_node/RigidBody002/pose" />
  <arg name="serial_using_name" default="/dev/ttyUSB0" />
  <arg name="port_baurdrate" default="9600" />
  
  <param name="serial_subscribe_topic_name" value="$(arg serial_subscribe_topic_name)" />
  <param name="serial_using_name" value="$(arg serial_using_name)" />
  <param name="port_baurdrate" value="$(arg port_baurdrate)" />

  <node name="natnet_linux_serial" type="linux_serial_node" pkg="linux_serial" output="screen">

  </node>
</launch>
